<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuredurabletask.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/98fded41-d451-4007-9a18-bec52c08ee3e/resourceGroups/PAYG/providers/Microsoft.Web/sites/AzureDurabletask</ResourceId>
    <UserName>$AzureDurabletask</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azuredurabletask.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>